@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Merriweather", serif;
}
/* banner section styles */
.banner-container {
    max-width: 1320px;
    margin: 0px auto;
    margin-top: 50px;
    /* border: 2px solid red; */
    min-height: 600px;
    background-image: url("../images/Banner\ Image.png");
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
}
.banner-content p, h1{
    color: #FFFFFF;
}
.banner-subtitle {
    font-size: 32px;
}
.banner-title {
    font-size: 72px;
    text-align: center;
}

/* 65% section styles */
.second-section-container{
    width: 802px;
    height: 806px;
    /* border: 2px solid red; */
    margin: 0px auto;
    margin-top: 120px;
    margin-bottom: 120px;
}
.second-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section-content h1 {
    font-size: 88px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #FF0000;margin-bottom: 40px;
}
.second-section-content p {
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    font-family: "Inter", sans-serif;
    margin-bottom: 16px;
}
.second-section-content h3 {
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    font-family: "Inter", sans-serif;
}
.second-section-img {
    margin-top: 48px;
}
  
/* midnight party section styles */
.midnight-party-container {
    background-image: url("../images/Vectorrr.png");
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    background-size:cover;
    background-position: center;
    height: 600px;
    width: 1320px;
    margin-top: 120px;
    margin: 0px auto;
    display: flex;
}
.leftside-content {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.leftside-content h1 {
    font-size: 64px;
    font-weight: 900px;
    color: #FFFFFF;
    font-family: "Merriweather", serif;
    text-align: start;
    margin-bottom: 24px;
    margin-left: 126px;
}
.leftside-content p {
    font-size: 18px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    margin-bottom: 48px;
    margin-left: 126px;
}
 #midnight-btn {
    font-size: 20px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    margin-left: 158px;
}
.rightside-content {
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightside-content img {
    height: 464px;
    width: 319px;
}