@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Merriweather", serif;
}
/* banner section styles */
.banner-container {
    max-width: 1320px;
    margin: 0px auto;
    margin-top: 50px;
    /* border: 2px solid red; */
    min-height: 600px;
    background-image: url("../images/Banner\ Image.png");
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
}
.banner-content p, h1{
    color: #FFFFFF;
}
.banner-subtitle {
    font-size: 32px;
}
.banner-title {
    font-size: 72px;
    text-align: center;
}

/* 65% section styles */
.second-section-container{
    width: 802px;
    height: 806px;
    /* border: 2px solid red; */
    margin: 0px auto;
    margin-top: 120px;
    margin-bottom: 120px;
}
.second-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section-content h1 {
    font-size: 88px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #FF0000;margin-bottom: 40px;
}
.second-section-content p {
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    font-family: "Inter", sans-serif;
    margin-bottom: 16px;
}
.second-section-content h3 {
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    font-family: "Inter", sans-serif;
}
.second-section-img {
    margin-top: 48px;
}
  
/* midnight party section styles */
.midnight-party-container {
    background-image: url("../images/Vectorrr.png");
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    background-size:cover;
    background-position: center;
    height: 600px;
    width: 1320px;
    margin-top: 120px;
    margin: 0px auto;
    display: flex;
}
.leftside-content {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.leftside-content h1 {
    font-size: 64px;
    font-weight: 900px;
    color: #FFFFFF;
    font-family: "Merriweather", serif;
    text-align: start;
    margin-bottom: 24px;
    margin-left: 126px;
}
.leftside-content p {
    font-size: 18px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    margin-bottom: 48px;
    margin-left: 126px;
}
 #midnight-btn {
    font-size: 20px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    margin-left: 158px;
}
.rightside-content {
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightside-content img {
    height: 464px;
    width: 319px;
}

/* join now section styles */
.join-mow-container {
    width: 1320px;
    height: 482px;
    margin: 0px auto;
    margin-top: 120px;
    border-radius: 16px;
background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    background-blend-mode: overlay;
}
.join-now-sec-content {
    width: 549px;
    height: 272px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 385px;
    margin-top: 100px;
    position: absolute;
}
.join-now-sec-content h4 {
    font-size: 32px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #070211;
}
.red {
    color:#FF0000;
}
.join-now-two-btn {
    font-size: 20px;
    font-weight: bold;
    color:#FFFFFF;
    background-color: #FF0000;
    padding: 16px 32px;
    margin-top: 48px;
    border-radius: 8px;
    border: none;
}

/* fifth section styles */
.fifth-section-container {
    width: 1320px;
    height: 463px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fifth-section-leftside-content {
    width: 393px;
    height: 255px;
    /* border: 2px solid tomato; */
    margin: 0 auto;
    margin-top: 104px;
    margin-right: 70px;
}
.fifth-section-leftside-content h5 {
    font-size: 24px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #FF0000;
    margin-bottom: 16px;
}
.fifth-section-leftside-content h2 {
    font-size: 48px;
    font-weight: 900;
    font-family: "Merriweather", serif;
    color: #070211;
    margin-bottom: 22px;
}
.fifth-section-leftside-content p {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: rgba(7, 2, 17, 0.6);
}

.fifth-section-middle-content {
    width: 463px;
    height: 463px;
    /* border: 2px solid yellow; */
    margin: 0 auto;
    padding: 49px;
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fifth-section-rightside-content {
    width: 393px;
    height: 353px;
    /* border: 2px solid black; */
    margin: 0 auto;
    margin-top: 112px;
    margin-left: 118px;
}
.fifth-section-rightside-content-first {
    width: 276px;
    height: 170px;
    /* border: 2px solid aqua; */
}
.fifth-section-rightside-content-first h2 {
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;
    font-family: "Inter", sans-serif;
    margin-bottom: 16px;
}
.fifth-section-rightside-content-first p {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", sans-serif;
}
.fifth-section-rightside-content-second {
    width: 140px;
    height: 140px;
    /* border: 2px solid pink; */
    margin-top: 43px;
}

/* holiday section styles */
.holiday-section-container {
    width: 1320px;
    height: 986px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 120px;
}
.holiday-section-text-content {
    width: 1068px;
    height: 260px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.holiday-section-text-content h5 {
    font-size: 24px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #070211;
    margin-bottom: 16px;
}
.holiday-section-text-content h1 {
    font-size: 72px;
    font-weight: 900;
    font-family: "Merriweather", serif;
    color: #070211;
    margin-bottom: 28px;
}
#holidays {
    color: #FF0000;
}
.holiday-section-text-content p {
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: rgba(7, 2, 17, 0.6);
    text-align: center;
    line-height: 32px;
}
